<ul class="apps">
	<% apps.each do |app| %>
			<li>
				<a href="<%= app[:link] %>" title="Go to <%= app[:name]%>">
					<div class="app-link"><%= app[:name] %></div>
				</a>
				<a href="/restart/<%= app[:name] %>" title="Restart <%= app[:name] %>">
					<div class="app-restart">restart</div>
				</a>
			</li>
		</a>
	<% end %>
</ul>

<a class="show-help" href="#">Pow help</a>
<section id="help">
	<p>
		Set up a Rack application by symlinking it into your <code>~/.pow</code> directory. The name of the symlink determines the hostname you’ll use to access the application.
	</p>
	<ul class="code">
		<li>cd ~/.pow</li>
		<li>ln -s /path/to/myapp</li>
		<li>open http://myapp.dev/</li>
	</ul>
</section>    


